.xgplayer {
  &-progress-played {
    background: linear-gradient(
      -90deg,
      hsl(var(--primary)) 0%,
      hsl(var(--primary) / 30%) 100%
    ) !important;
  }

  &-drag {
    background: hsl(var(--primary)) !important;
  }

  .xg-options-list {
    li:hover,
    li.selected {
      color: hsl(var(--primary));
    }
  }
}
